<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wykres ciśnienia krwi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h1>Wykres ciśnienia krwi</h1>
    <div id="blood_pressure_chart" class="chart-container" style="width:100%; height:400px;"></div>
    <div id="chart-data" data-chart-config="{{ bp_chart_config }}"></div>
    <a href="/" class="styledButton">Wróć do strony głównej</a>
    </div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var chartDataElement = document.getElementById('chart-data');
            var bpChartConfig = JSON.parse(chartDataElement.getAttribute('data-chart-config'));
            Highcharts.chart('blood_pressure_chart', bpChartConfig);
        });
    </script>
</body>
</html>
