<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ustawienia progów</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h1>Ustawienia progów</h1>
    <form method="POST">
        <label>Tętno: <input type="number" name="heart_rate_threshold" value="{{ settings.heart_rate_threshold }}"></label><br>
        <label>Ciśnienie skurczowe: <input type="number" name="blood_pressure_systolic_threshold" value="{{ settings.blood_pressure_systolic_threshold }}"></label><br>
        <label>Ciśnienie rozkurczowe: <input type="number" name="blood_pressure_diastolic_threshold" value="{{ settings.blood_pressure_diastolic_threshold }}"></label><br>
        <label>Temperatura: <input type="number" step="0.1" name="temperature_threshold" value="{{ settings.temperature_threshold }}"></label><br>
        <label>Stres: <input type="number" name="stress_threshold" value="{{ settings.stress_threshold }}"></label><br>
        <button type="submit" class="styledButton">Zapisz</button>
    </form>
    <a href="/" class="styledButton">Wróć do strony głównej</a>
    </div>
</body>
</html>
