<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prześlij plik JSON</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Prześlij plik JSON</h1>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".json">
            <input type="submit" value="Prześlij" class="styledButton">
        </form>
        <a href="{{ url_for('index') }}" class="styledButton">Wróć do strony głównej</a>
    </div>
</body>
</html>
